---
pageImageWebPath: "/assets/img/logos/alice-thornton-logo-img.jpeg"
isContentHTML: false
---
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <!-- Built with 11ty - {{ "now" | date: "%Y-%m-%d %H:%M" }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="King's Digital Lab, King's College London">
    {% if description %}<meta name="description" content="{{ description | escape_once }}">{% endif %}
    {% comment %}Twitter cards{% endcomment %}
    {% comment %} 
      TODO: override the og: for individual pages (.e.g blog posts will have its own image, desc)
      TODO: Add twitter meta?
    {% endcomment %}
    <meta property="og:image" content="{{ metadata.live_domain }}{{ pageImageWebPath }}">
    {% if description %}<meta name="og:description" content="{{ description | escape_once }}">{% endif %}
    <meta property="og:title" content="{{ title | escape_once }}">
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thornton_books" />

    {% include "zotero_meta.liquid", people: authors %}
    <meta property="og:site_name" content="{{ metadata.siteTitle | escape_once }}" />

    <link rel="icon" href="{{ '/assets/img/logos/alice-thornton-logo-img.jpeg' | url }}" type="image/x-icon">
    <title>{{ pageShortTitle }} | {{ metadata.siteTitle }}</title>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> {% endcomment %}
    {% comment %} generated from assets/css/main.scss {% endcomment %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}?ts={{ "now" | date: "%s" }}">
    <script src="{{ '/assets/js/navbar-toggle.js' | url }}?ts={{ "now" | date: "%s" }}"></script>
    <script src="{{ '/assets/js/main.js' | url }}?ts={{ "now" | date: "%s" }}" defer></script>
  </head>
  <body class="{{ body_class }}">
    {% include "header.liquid" %}
    <section class="section">
      <div class="container">
        <h1 class="title">
          {{ title }}
        </h1>
        <div class="{% if isContentHTML == false %}content{% endif %} {{ tags }}">
          {{ content }}
        </div>
        {% include "page_citation.liquid" %}
      </div>
    </section>
    {% include "footer.liquid" %}
  </body>
</html>
