---
pageImageWebPath: "/assets/img/logos/alice-thornton-logo-img.jpeg"
isContentHTML: false
isPageFluid: false
hideFooter: false
hideTitle: false
hideCitation: false
isCustomContent: false
customBodyClasses: ""
redirect: null
---
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <!-- Built with 11ty - {{ "now" | date: "%Y-%m-%d %H:%M" }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="King's Digital Lab, King's College London">
    {% if redirect %}
    <script>
      let newLocation = "{{redirect}}" + (location.search);
      // console.log(newLocation);
      window.location = newLocation;
    </script>
    {% endif %}
    {% if description %}<meta name="description" content="{{ description | escape_once }}">{% endif %}
    {% comment %}Twitter cards{% endcomment %}
    {% comment %} 
    TODO: override the og: for individual pages (.e.g blog posts will have its own image, desc)
    TODO: Add twitter meta?
    {% endcomment %}
    <meta property="og:image" content="{{ metadata.live_domain }}{{ pageImageWebPath }}">
    {% if description %}<meta name="og:description" content="{{ description | escape_once }}">{% endif %}
    <meta property="og:title" content="{{ title | escape_once }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thornton_books" />

    {% include "zotero_meta.liquid", people: authors %}
    <meta property="og:site_name" content="{{ metadata.siteTitle | escape_once }}" />

    <link
      rel="icon"
      href="{{ '/assets/img/logos/alice-thornton-logo-img.jpeg' | url }}"
      type="image/x-icon">
    <title>{{ pageShortTitle }} | {{ metadata.siteTitle }}</title>

    <link rel="stylesheet" href="{{ '/assets/node_modules/@fortawesome/fontawesome-free/css/all.css' | url }}">
    {% comment %} generated from assets/css/main.scss {% endcomment %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}?ts={{ "now" | date: "%s" }}">
    {% if customCSS %}
      <link rel="stylesheet" href="{{ customCSS | url }}?ts={{ "now" | date: "%s" }}">
    {% endif %}

    <script>
      window.metadata = {{ metadata.front_end|json }};
    </script>

    <script src="{{ '/assets/js/navbar-toggle.js' | url }}?ts={{ "now" | date: "%s" }}"></script>
    <script src="{{ '/assets/js/main.js' | url }}?ts={{ "now" | date: "%s" }}" defer></script>
    <!-- Background image credits:
    Image by rawpixel.com on Freepik: https://www.freepik.com/free-photo/vintage-textured-watercolor-paper-background_15599882.htm
    -->
  </head>
  <body class="{{ bodyClass }} {{ customBodyClasses }}">
    {% include "header.liquid" %}
    <section class="section">
    <div class="container">
      {% if hideTitle == false %}
        <h1 class="title">
          {{ title }}
        </h1>
      {% endif %}
      </div>  
      <div class="container {% if isPageFluid %}is-fluid{% endif %}">
        {% if toc %}
          <div class="table-of-contents content">
            <h2>Table of Contents</h2>
            {{ content | toc }}
          </div>
        {% endif %}
        {% if isCustomContent %}
          {{ content }}
        {% else %}
          <div class="{% if isContentHTML == false %}content{% endif %} {{ tags }}">
            {{ content }}
          </div>
        {% endif %}
        {% if hideCitation == false %}
          {% include "page_citation.liquid" %}
        {% endif %}
      </div>
    </section>
    {% if hideFooter == false %}
      {% include "footer.liquid" %}
    {% endif %}
    {% include "feedback_button.liquid" %}
  </body>
</html>