---
pageImageWebPath: "/assets/img/logos/alice-thornton-logo-img.jpeg"
isContentHTML: false
isPageFluid: false
hideFooter: false
hideTitle: false
---
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <!-- Built with 11ty - {{ "now" | date: "%Y-%m-%d %H:%M" }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="King's Digital Lab, King's College London">
    {% if description %}<meta name="description" content="{{ description | escape_once }}">{% endif %}
    {% comment %}Twitter cards{% endcomment %}
    {% comment %} 
    TODO: override the og: for individual pages (.e.g blog posts will have its own image, desc)
    TODO: Add twitter meta?
    {% endcomment %}
    <meta property="og:image" content="{{ metadata.live_domain }}{{ pageImageWebPath }}">
    {% if description %}<meta name="og:description" content="{{ description | escape_once }}">{% endif %}
    <meta property="og:title" content="{{ title | escape_once }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thornton_books" />

    {% include "zotero_meta.liquid", people: authors %}
    <meta property="og:site_name" content="{{ metadata.siteTitle | escape_once }}" />

    <link
      rel="icon"
      href="{{ '/assets/img/logos/AliceThorntonlogo-white.png' | url }}"
      type="image/x-icon">
    <title>{{ pageShortTitle }} | {{ metadata.siteTitle }}</title>

    <link rel="stylesheet" href="{{ '/assets/node_modules/@fortawesome/fontawesome-free/css/all.css' | url }}">
    {% comment %} generated from assets/css/main.scss {% endcomment %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}?ts={{ "now" | date: "%s" }}">
    <link rel="stylesheet" href="{{ '/assets/css/text-viewer.css' | url }}?ts={{ "now" | date: "%s" }}">

    <script>
      window.metadata = {{ metadata.front_end|json }};
    </script>

    <script src="{{ '/assets/js/navbar-toggle.js' | url }}?ts={{ "now" | date: "%s" }}"></script>
    <script src="{{ '/assets/js/main.js' | url }}?ts={{ "now" | date: "%s" }}" defer></script>
    <!-- Background image credits:
    Image by rawpixel.com on Freepik: https://www.freepik.com/free-photo/vintage-textured-watercolor-paper-background_15599882.htm
    -->
  </head>
  <body class="{{ body_class }}">
    {% include "header.liquid" %}
    <section class="section">
      <div class="container {% if isPageFluid %}is-fluid{% endif %}">
        {% if hideTitle == false %}
          <h1>
            {{ title }}
          </h1>
        {% endif %}
        <div class="{% if isContentHTML == false %}content{% endif %} {{ tags }}">
          {{ content }}
        </div>
        {% include "page_citation.liquid" %}
      </div>
    </section>
    {% if hideFooter == false %}
      {% include "footer.liquid" %}
    {% endif %}
    {% include "feedback_button.liquid" %}
  </body>
</html>