---
layout: base.liquid
tags: books
itemtype:
  - https://schema.org/ArchiveComponent 
  - https://schema.org/Book
creator: Alice Thornton
hideTitle: true
eleventyComputed:
  name: "{{ title }}"
  description: "{{ content }}"
---

<!-- https://www.w3resource.com/schema.org/introduction.php -->

<!-- TODO: multiple itemtype is valid microformat but perhaps not supported by Google. -->
<div class="book-preview" itemscope itemtype="{% for item in itemtype %}{{item}} {% endfor %}">

  <div class="book-preview-header is-flex is-flex-wrap-wrap block">
    <!-- TODO: add spans with @itemprop -->
    <div class="book-preview-thumb">
      <img itemprop="image" src="{{ image }}" class="book-thumb">
    </div>
    <div class="book-preview-metadata is-flex is-flex-direction-column">
      <h1 class="title is-3">{{ name }}</h1>
      <span>
        {% if isReadable %}<a href="../viewer/?p0.do={{ page.fileSlug }}&p0.vi=modern" class="button btn-read is-primary is-medium-">Read the edition</a>{% endif %}
        <!-- <a href="{{ contentUrl }}" class="button btn-tei">
          <span class="icon is-small"><i class="fa fa-code"></i></span>
          <span>TEI Edition</span>
        </a> -->
      </span>
      <div class="book-preview-fields is-flex is-flex-wrap-wrap">
        <div>
          <div class="field-name">Written</div>
          <div class="field-value">{{ dateCreated }}</div>
        </div>
        <div>
          <div class="field-name">Length</div>
          <div class="field-value">{{ numberOfPages }}</div>
          <div class="field-unit">pages</div>
        </div>
        <div>
          <div class="field-name">Repository</div>
          <div class="field-value">
            <a href="{{archivedAt}}">{{ holdingArchive }},<br> {{ itemLocation }}</a>
          </div>
        </div>
        <!-- <div>
          <div class="field-name">TEI Edition</div>
          <div class="field-value">
            <a href="{{ contentUrl }}">Source code</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="book-preview-description block content">
    {{ content }}
  </div>

  <h2>Other books</h2>
  <!-- GN: code below is identital to bookshelf on book index page.
    If we can keep them the same we might move them to a single template file.
   -->
  <div class="bookshelf">
    {%- assign books = collections.books | sort:"data.bookOrder" -%}
    {%- for abook in books -%}
      {% if abook.url != page.url %}
        <figure class="book columns">
          <a href="{{ abook.url | url }}" class="column is-half">
            <img src="{{ abook.data.image }}" alt="Photograph of the original front of book, very used scuffed faded covers, showcasing charm and elegance">
          </a>
          <div class="column is-half is-flex is-flex-direction-column">
            <h3>{{ abook.data.title }}</h3>
            <figcaption>
              {{ abook.data.holdingArchive }},<br>
              {{ abook.data.itemLocation }}
            </figcaption>
            <div class="book-buttons">
            {% if abook.data.isReadable %}<a href="/edition/?p0.do={{ abook.fileSlug }}&p0.vi=modern" class="button is-primary">Read the edition</a>{% endif %}<br>
              <a href="{{ abook.url | url }}" class="button is-secondary">Book details</a>
            </div>
          </div>
        </figure>
      {% endif %}
    {%- endfor -%}
  </div>

</div>
