<footer class="footer">
  <div class="has-text-centered">
    <h2 class="small-heading">Partners and Funders</h2>
    <div class="gallery-by-4 logos">
      <a href="//www.ed.ac.uk/">
        <img
          src="{{ '/assets/img/logos/UoE_Stacked_Logo_CMYK_v1_160215.png' | url }}"
          alt="University of Edinburgh"
          width="50"
          height="50" />
      </a>

      <a href="//www.ukri.org/about-us/ahrc/">
        <img
          src="{{ '/assets/img/logos/UKRI_AHR_Council-Logo_Square-RGB.png' | url }}"
          alt="Arts and Humanities Council (AHRC)"
          width="50"
          height="50" />
      </a>

      <a href="//www.durhamcathedral.co.uk/">
        <img
          src="{{ '/assets/img/logos/DC_Logo_Black.png' | url }}"
          alt="Durham Cathedral"
          width="50"
          height="50" />
      </a>

      <a href="//kdl.kcl.ac.uk/">
        <img
          src="{{ '/assets/img/logos/KCL-square.svg' | url }}"
          alt="King's Digital Lab, King's College London"
          width="50"
          height="50" />
      </a>
    </div>
    <p>
      Follow us on:
      <a href="//twitter.com/thornton_books" title="Follow Alice Thornton's Books on Twitter">
        <img
          src="{{ '/assets/img/logos/2021-twitter-logo-black.png' | url }}"
          height="20"
          width="20"
          alt="Twitter Logo"
          class="social-logo">
        Twitter</a>
      &dash;
      <a href="//github.com/kingsdigitallab/alice-thornton" title="The project repository on Github">
        <img
          src="{{ '/assets/img/logos/github-mark.png' | url }}"
          height="20"
          width="20"
          alt="Twitter Logo"
          class="social-logo">
        Github</a>
    </p>
    <p>
      <a href="/accessibility/">Accessibility Statement</a>
      |
      <a href="/credits/">Credits &amp; Acknowledgements</a>
    </p>
    <p class="small">
      Designed, developed and maintained by
      <a href="//kdl.kcl.ac.uk/">KDL</a>.
    </p>
  </div>
</footer>