{% assign navPages = collections.all | eleventyNavigation %}
<nav class="navbar" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="{{ '/assets/img/logos/alice-thornton-logo-img.jpeg' | url }}" alt="AT logo" width="50" height="50">
        Alice Thornton's Books
      </a>

      <button
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-top"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </button>
    </div>

    <div id="navbar-top" class="navbar-menu">
      <div class="navbar-end">
        {% for entry in navPages %}
          {% if forloop.index > 1 %}
            {% if entry.children.length > 0 %}
              <div class="navbar-item has-dropdown is-hoverable {% if page.url | contains:entry.url %}is-active{% endif %}">
                <a class="navbar-link" href="{{ entry.url | url}}">{{ entry.title }}</a>
                <div class="navbar-dropdown">
                {% for subentry in entry.children %}
                  <a class="navbar-item {% if page.url | contains: subentry.url %}is-active{% endif %}" href="{{ subentry.url | url}}">{{ subentry.title }}</a>
                {% endfor %}
                </div>
              </div>
            {% else %}
              <a class="navbar-item {% if page.url | contains: entry.url %}is-active{% endif %}" href="{{ entry.url | url}}">{{ entry.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
