---
eleventyComputed:
    title: "{{ firstName }} {{ lastName }}, {{ jobTitle }}"
layout: base.liquid
---

<div class="person-bio block">
    <img src="{{ image | url }}#left" alt="A photograph of {{ firstName }} {{ lastName }}">

    <div>
        {{ content }}

        {% if mainEntityOfPage %}
            <a class="button is-secondary" href="{{ mainEntityOfPage }}">Academic page</a>
        {% endif %}
    </div>
</div>