<p class="post-meta">
  <a href="/posts/{{ post.postCategory.tag }}/" class="category-link tag is-accent">
    {{ post.postCategory.label }}
  </a>
  article published by <strong>{% include 'people_names.liquid', people: post.authors %}</strong>
  on {{ post.page.date | date:metadata.date_format }}&nbsp;
  {% assign postTags = post.tags | exclude:'',collections.postsCategoriesTags | sort %}
  {%- for tag in postTags -%}
    <a href="/posts/tags/{{tag}}/" class="tag is-info is-light">{{ tag }}</a>
  {%- endfor -%}
</p>
