<div class="post-summary">
  <h2 class="index-page-titles">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h2>

  {% include "post_meta.liquid", post: post.data %}

  <div class="post-excerpt index-page-w-images">
    {% comment %}TODO: need metadata field for the feature alt instead of the post title.{% endcomment %}
    <a href="{{ post.url | url }}"><img src="{{ post.data.feature | url }}" alt="{{ post.data.title | escape_once }}"></a>
    <div>
      <p>{{ post.templateContent | excerpt }}</p>
      <a href="{{ post.url | url }}" class="button" id="read-more-{{post.data.slug}}" aria-label="Read more about '{{post.data.title | escape_once }}'">Read more</a>
    </div>
  </div>
</div>
