<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <!-- TODO: share code base.liquid; don't copy it here (GN) -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/assets/css/textviewer2.css' | url }}?ts={{ "now" | date: "%s" }}">
    <link rel="stylesheet" href="{{ '/assets/css/text-viewer.css' | url }}?ts={{ "now" | date: "%s" }}">
    <link
      rel="icon"
      href="{{ '/assets/img/logos/alice-thornton-logo-img.jpeg' | url }}"
      type="image/x-icon">
    <title>{{ pageShortTitle }} | {{ metadata.siteTitle }}</title>
    <script>
      window.metadata = {{ metadata.front_end|json }};
    </script>
  </head>
  <body>
    <nav class="textviewer-nav">
      <ul>
        <li>
          <h1><img
              src="https://thornton.kdl.kcl.ac.uk/assets/img/logos/alice-thornton-logo-img.jpeg"
              alt="AT logo"
              width="30"
              height="30">Alice Thornton's Books
            <span>Digital Edition</span>
          </h1>
        </li>
        <li></li>
        <li class="tooltip">⚃
          <span class="tooltiptext left">4 Books Preview</span>
        </li>
        <li class="tooltip">?
          <span class="tooltiptext left">Help guidelines on how to use this text viewer</span>
        </li>
      </ul>
    </nav>
    <main id="text-viewer">
      {{ content }}
    </main>

    <script src="/assets/node_modules/vue/dist/vue.global.js"></script>
    <script src="/assets/node_modules/kdl-dts-client/index.js?ts={{ "now" | date: "%s" }}"></script>
    <script src="/assets/js/text-viewer.js?ts={{ "now" | date: "%s" }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/4.0.0/openseadragon.min.js"></script>
    
  </body>
</html>